.submit {
  background: $clr-blue;
  color: $clr-white;
  padding: .3em;
  width: 100%;
  @include ipad {
    width: 100px;
  }
  font-size: 1.8rem;
  border: none;
  border-radius: .2em;
  &:hover {
    background: $clr-white;
    color: $clr-blue;
    border: 1px solid $clr-blue;
  }
}
