.about-me {
  @include container;
  padding-top: 2em;
  @include ipad {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
  }
    @include laptop {
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 50px;
    }

  section {

    p {
      margin-bottom: 1em;
    }

    @include ipad {
      margin-top: 1em;
      order: 1;
      grid-column: 2/3;
    }
  }

  div {
    height: 350px;
    width: 85vw;
    @include laptop {
      height: 400px;
      width: 400px;
    }
    background: red;
    position: relative;

    @include ipad {
      //Restting from mobile width
      width: 100%;
      height: 100%;
      order: 0;
      grid-column: 1/2;
    }
    //Sqaure behind picture
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 15px;
      left: 15px;
      height: inherit;
      width: inherit;
      border: 1px solid $clr-blue;
      // Make it go behind the image
      z-index: -1;
    }
  }
}
