.banner {
  display: grid;
  grid-template-columns: 10px auto 10px;
  @include ipad {
    grid-template-columns: 5vw 90vw 5vw;
  }
  align-items: center;
  //Banner content
  p {
    grid-column: 2/3;
    background: $clr-light-grey;
    height: 40vh;
    //When resizing browser to make the trainsition of height gradual
    transition: all;
    transition-duration: 0.5s;
    @include laptop {
      height: 80vh;
      font-size: 2.5rem;
    }
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    @include container;
    width: 90vw;
    margin: 0 auto;

    a {
      //Make buttons display next to each other
      display: inline;
    }
    // To center profile in the middle
    div {
      margin: 0 auto;
    }
    //Matthew Hoare
    h1 {
      color: $clr-txt-black;
      font-size: 3rem;
      @include laptop {
        font-size: 7rem;
      }
      //Matt in blue
      span {
        padding: 0 .1em;
        background: $clr-blue;
        color: $clr-white;
      }
      //Resets
      &::after {
        content: '';
        width: 0px;
        height: 0px;
        margin: 0;
      }
    }
  }
  //Social Media Icons
  section {
    //Hide social media icons on mobile devices
    display: none;
    flex-direction: column;
    align-items: center;

    @include ipad {
      display: block;
      top: 0px;
      grid-column: 3/4;
    }
  }
}
