.contact-info {
  margin-top: 1em;

  section {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 30px 30px;
    grid-column-gap: 1em;
    margin-bottom: 2em;

    a:first-of-type {
      align-self: center;
      grid-column: 1/2;
      svg {
        transition: all;
        transition-duration: 0.5s;
        &:hover {
          height: 55px;
          width: 55px;
        }
      }
    }

    p, a:last-of-type {
      grid-column: 2/3;
    }

    p {
      font-size: 1.4rem;
      font-weight: $fw-bold;
      color: $clr-dark-grey;
      align-self: flex-end;
      grid-row-start: 1;
    }

    a {
      color: $clr-txt-black;
      font-size: 1.5rem;
      grid-row-start: 2;

      &:hover {
        color: $clr-blue;
      }
    }
  }
}
