.cv-title,
.cv-header,
.cv-body {
  @include container;
}

.cv-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-row-gap: 20px;
  margin-bottom: 2em;
  grid-row: 1fr;

  h2 {
    font-size: 3.5rem;
    @include ipad {
      grid-column: 1/2;
    }
  }

  ul {
    text-align: left;
    @include ipad {
      text-align: right;
    }

    li {

      a {
        display: flex;
        justify-content: flex-end;

        &:hover {
          p {
            color: $clr-blue;
          }
          svg {
            fill: $clr-blue;
          }
        }

        svg {
          align-self: center;
          width: 30px;
          height: 22px;
          margin-left: .5em;
        }
      }
    }
  }
}

.cv-body {
  h2 {
    font-size: 2.5rem;
    margin-bottom: .3em;
  }
  section {
    margin-bottom: 2em;

    &:nth-of-type(3),
    &:nth-of-type(4) {
      h3, p:first-of-type {
        display: inline;
      }

      p:first-of-type {
        float: right;
      }
    }

    p {
      span {
        font-weight: $fw-bold;
      }
    }

    h3 {
      font-weight: 500;
      font-size: 1.9rem;
      margin-bottom: .3em;
    }

    ul {
      li {
        margin-left: 1em;
        list-style-type: disc;
      }
    }
  }
}
