footer {
  grid-column: 1/-1;
  background: $clr-light-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-self: end;
  //Container for footer
  padding: 2em 4vw;

  @include ipad {
    flex-direction: row;
  }

  .logo {
    padding: .2em;
  }

  nav {
    /* Make li go across full width of screen*/
    width: 100%;
    margin: 2.5em 0;

    ul {
      max-width: 450px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;

      a:hover {
        color: $clr-blue;
      }
    }
  }
  //SVG Icons
  section {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    @include ipad {
      width: 15vw;
    }
  }
}
