header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5em 0 0;
  @include container;
  @include ipad {
    justify-content: space-between;
    flex-direction: row;
  }

  nav {
    width: 90vw;
    @include ipad {
      width: 35vw;
    }
    margin: 1em 0 .5em;
    ul {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      li {
          //So on hover the border doesn't push the li elements up
          border-bottom: 8px solid transparent;
        &:hover {
          border-bottom: 8px solid $clr-blue;
        }
      }
    }
  }
  //When link is active
  .active {
    border-bottom: 8px solid $clr-blue;
  }
}
