.project-header {
  grid-column: 1/-1;
  display: grid;
  //Columns & rows needed to align laptop
  grid-template-columns: 1fr 1fr 1fr 5vw;
  grid-template-rows: 10vw 20vw 20vw 15vw;
  @include ipad {
    grid-template-rows: 5vw 15vw 1fr 7vw;
  }
  @include laptop {
    grid-template-rows: 5vw 10vw 1fr 6vw;
  }

  .laptop {
    width: 250px;
    height: 150px;
    @include ipad {
      grid-row: 3/-1;
      width: 400px;
      height: 250px;
    }
    @include laptop {
      width: 600px;
      height: 380px;
    }
    grid-row: 3/-1;
    grid-column: 3/4;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    padding-left: 2em;
    grid-row: 1/4;
    grid-column: 1/-1;
    div {
      @include ipad {
        width: 90vw;
        margin: 0 auto;
      }
    }
  }

  p {
    margin-bottom: 1em;
  }

  h1, p {
    align-items: center;
    color: $clr-white;
  }

  h1 {
    // Resetting H1 from typography
    &:after {
      margin: 0;
      width: 0;
      height: 0;
    }
    @include ipad {
      font-size: 3.5rem;
    }
    @include laptop {
      font-size: 5rem;
    }
  }


}

.project-process {
  @include container;
  h2 {
    font-weight: $fw-bold;
    font-size: 2rem;

    &::before {
      content: '';
      display: inline-block;
      height: 15px;
      width: 5px;
      background: $clr-blue;
      margin-right: .2em;
    }
  }


  h2, p {
    //Algin left to the left for the first three heading
    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3) {
      margin: .3em 0;

    }
    margin: .5em auto;
    width: 60vw;
  }

  .gatsby-image-wrapper {
    margin: 50px 0;
  }

}
