section {
  svg {
    transition: all;
    transition-duration: 0.5s;
    display: block;
    // Center the icon vertical
    width: 100%;
    height: 30px;
    @include laptop {
      height: 35px;
    }
    margin-bottom: 1em;
    &:hover {
      transform: scale(1.2);
    }
  }
}
