/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px; //Easy for px to rem converison
}
/* Typography */
body {
  font-family: $font;
}

main {
  margin: 1.5rem 0 50px;
  min-height: 76vh;
}

h1 {
  color: $clr-blue;
  font-weight: $fw-bold;
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  &::after {
    content: '';
    display: block;
    height: 5px;
    @include laptop {
      width: 70px;
      height: 10px;
    }
    width: 50px;
    background: $clr-dark-grey;
    margin-bottom: 1.5em;
  }
}

p, label, button, input, textarea, li, a {
  font-size: clamp(1.5rem, 3vw, 1.7rem);
  color: $clr-txt-black;
  line-height: 1.6;
}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style: none;
}

input, textarea {
  padding: .3em;
  border: 1px solid $clr-border-grey;
  border-radius: .3em;
  margin-bottom: 1em;
}

input:focus,
textarea:focus {
  border: 2px solid #5E9ED6;
}

label {
  margin-bottom: .4em;
}

img {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  height: 150px;
}

button {
  cursor: pointer;
}
